
@{
    ViewData["Title"] = "GizlilikPolitikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <br /><br />
                                    <p style="font-weight:bold;">GİZLİLİK POLİTİKASI</p>
                                    <p align="justify">Bu site Tezmaksan Makina Sanayi ve Ticaret A.Ş. tarafından işletilmektedir. Tezmaksan Makina Sanayi ve Ticaret A.Ş. Merkez ofisi, Abdi İpekçi Caddesi No:129, 34040 Bayrampaşa / İSTANBUL’da bulunmaktadır.</p>
                                    <p align="justify">Gizliliğiniz bizim için önemlidir, güveninizi ve gizliliğinizi sürdürmek en başta gelen önceliklerimiz arasındadır. Gizliliğiniz hakkındaki hassasiyetimize ilaveten, Türkiye’deki uygulanmakta olan yasal mevzuat çerçevesinde gizliliğinizi korumak ve sürdürmek bizim yasal zorunluluğumuzdur. Kişisel bilgilerinizi gizli tutma hakkınıza saygı gösteriyor ve sizden aldığımız bilgilerin nasıl kullanıldığını bilmek istemenizi anlıyoruz.</p>
                                    <p align="justify">Umuyoruz ki, bu gizlilik politikasını (“Gizlilik Politikası”) okumak için birkaç dakika ayırdığınızda, bize gönderdiğiniz bilgileri nasıl kullandığımızı ve bu bilgilerin güvenliğini nasıl sağladığımızı daha iyi anlayacaksınız. Lütfen Gizlilik Politikasının sadece Tezmaksan için geçerli olduğunu, web sitemizdeki reklamlar veya diğer bağlantılarla yönlendirdiğimiz diğer şirket ve kuruluşlar için geçerli olmadığını unutmayın.</p>

                                    <p style="font-weight:bold;">Hangi bilgileri topluyoruz?</p>
                                    <p align="justify">Hesap açtığınızda, web sitemizi ziyaret ettiğinizde, hizmetlerimize kayıt yaptırdığınızda, işlem platformlarımızı kullandığınızda, bültenimize abone olduğunuzda veya bir form/başvuru doldurduğunuzda sizden bilgi almaktayız. Bunlara ilave olarak, e-postalar, fakslar, telefon görüşmeleri veya diğer her türlü iletişim metoduyla ("<a href="/#contact" style="font-weight:bold;">İletişim</a>") bilgi alabiliriz. Lütfen bu türden bilgilerin belirli bir süreyle kayıtlarımızda tutulmasının Türkiye’deki uygulanmakta olan mevzuatın bir gereği olduğunu unutmayınız.</p>
                                    <p align="justify">Ayrıca web sitemizi ve işlem platformlarımızı kullanımınızdan kaynaklanan ve ziyaret edilen site bölgelerini, bakılan sayfaları, ziyaretlerin sıklığını ve süresini, Internet Protokol (IP) adresinizi, bilgisayar tanımlama parametrelerini, uygulanan işlemlerin tipini, indirilen dokümanları, fare tıklamalarını, fare hareketlerini, sayfa kaydırma hareketlerini ve bu web sitesine girdiğiniz metinleri, sizi bize yönlendiren web sitesini veya bizden bağlantı kurduğunuz web siteleri de dâhil olmak üzere kişisel bilgilerinizi de toplayabiliriz. Bu türden bilgiler, kişisel profiliniz ile birlikte saklanacaktır.</p>

                                    <p style="font-weight:bold;">Bilgilerinizi ne amaçla kullanıyoruz?</p>
                                    <p align="justify">Kişisel bilgileriniz sadece size kaliteli hizmet sunmak ve Türkiye’deki yürürlükte olan mevzuata uygun güvenlik sağlamak amaçlı olarak kullanılmaktadır. Sizden aldığımız bilgiler, aşağıdaki şekillerde kullanılabilirler :</p>
                                    <p align="justify">
                                        <ul>
                                            <li><strong>»</strong> Deneyiminizi kişiselleştirmek ve kişisel profilinizin sürekliliğini sağlamak,</li>
                                            <li><strong>»</strong> Gerektiğinde veya uygun olduğunda size sağlanan hizmetlerle ilgili olarak sizinle irtibat kurmak ve yaptığınız işlemlerle ilgili olarak size bilgi sağlayarak sizi güncel tutmak,</li>
                                            <li><strong>»</strong> Müşteri hizmetlerimizi geliştirmek,</li>
                                            <li><strong>»</strong> İşlemleri ve talimatları uygulamak,</li>
                                            <li><strong>»</strong> Tanıtım, anket veya diğer site özelliğini yönetmek,</li>
                                            <li><strong>»</strong> Tarafımızdan size sağlanan ürün ve hizmetler ile ilgili pazarlama bilgisini de sağlamak dahil olmak üzere, size sağlanan ürün ve hizmetleri idare etmek ve yönetmek,</li>
                                            <li><strong>»</strong> Düzenlenmiş şart ve koşullar ile birlikte uygulamadaki kanunları icra etmek,</li>
                                            <li><strong>»</strong> Kullanıcı adınızı ve şifrenizi göndermek,</li>
                                            <li><strong>»</strong> Bültenler veya ilginizi çekebileceğini düşündüğümüz diğer fırsatlar hakkında bilgi göndermek.</li>
                                        </ul>
                                    </p>

                                    <p style="font-weight:bold;">Herhangi bir bilgiyi üçüncü şahıslarla paylaşıyor muyuz?</p>
                                    <p align="justify">Biz kişisel bilgilerinizi, hiçbir şekilde üçüncü şahıslara satmıyor, ticaretini yapmıyor, transfer etmiyor veya herhangi bir şekilde paylaşmıyoruz. Biz, müşterilerimiz için değerli olabilecek yüksek kalitede ürünler ve hizmetler sunan diğer şirketlerle, müşterek pazarlama anlaşmalarını da içeren ortaklıklar veya ittifaklar oluşturabiliriz. Bu ürün ve hizmetlerin ihtiyaçlarınızı karşılamasını sağlamak, faydalı ve uygun şekilde size sunulmasını mümkün kılmak için kişisel bilgilerinizin bir kısmını bağlı veya anlaşmalı şirketlerle paylaşabiliriz. Kişisel bilgilerinizin kullanımı, bağlı veya anlaşmalı şirketlerle aramızdaki ilişkide belirtilmiş amaçlarla kesin şekilde kısıtlanmıştır.</p>
                                    <p align="justify">Kanunlar gereği mecbur kalınması durumunda, hizmetlerimizin sahtekârlık için veya kötüye kullanımının engellenmesi ve başkalarının ve bizim haklarımızı, mülkiyetimizi veya güvenliğimizi korumak amacıyla kişisel bilgilerinizi ifşa edebiliriz. Bunun dışında bilgileriniz, sizinle ve Tezmaksan arasındaki veya sizinle üçüncü şahıslar arasındaki, sunduğumuz hizmetler hususunda veya bu hizmetlerle ilgili herhangi bir ihtilaf vukuunda veya herhangi bir yasal işlem esnasında veya sizin ve Tezmaksan arasındaki anlaşma koşullarını ihlal ettiğinizi veya etmek üzere olduğunuzu düşündüğümüzde, kolluk kuvvetleri ve diğer yetkili makamlar ile üçüncü şahıslar arasında da paylaştırılabilir.</p>
                                    <p align="justify">Ayrıca, hizmetlerimizin yürütülmesi için farklı bir yapı çerçevesinde herhangi bir yeniden örgütlenme esnasında veya farklı bir yasal yapı veya teşekkül yoluyla veya başka bir teşekkül tarafından satın alınma veya birleşme süreci içinde bulunuyorsak, bu teşekküllerin ilgili değişiklikleri dikkate alarak, Gizlilik Politikası koşullarına bağlı kalmaları şartıyla, bilgilerinizi paylaşabiliriz.</p>
                                    <p align="justify">
                                        Kişisel olmayan ziyaretçi bilgileri pazarlama, reklam ya da diğer kullanımlar için diğer şahıslara sağlanabilir.
                                        Bu Gizlilik Politikası ile İletişim, özel ve gizli olmayan bilgiler olarak kabul edilecektir ve siz, tarafınıza herhangi bir sorumluluk veya yükümlülük yüklenmeden, İletişiminizi web sitesinde veya başka yerlerde kullanmamızı kabul etmiş olmaktasınız. Daha iyi müşteri memnuniyetinin yanı sıra, daha etkili ticari deneyim ve web sitesi kullanımı açısından İletişiminizi kullanabilir ve izleyebiliriz. Hiçbir koşulda, bizimle olan iletişiminiz yetkisiz üçüncü şahıslarla paylaşılmayacaktır.
                                        Yukarıda belirtilenler haricinde, açık ve net onayınız olmaksızın kişisel bilgilerinizi satmıyor, ticaretini yapmıyor, transfer etmiyor ve herhangi bir şekilde ifşa etmiyoruz.
                                    </p>
                                    <p style="font-weight:bold;">Bilgilerinizi nasıl koruyoruz?</p>
                                    <p align="justify">Kişisel bilgilerinizi girerken, gönderirken veya bilgilerinize erişirken, kişisel bilgilerinizin güvenliğini korumak için bir dizi güvenlik tedbiri uygulamaktayız.</p>
                                    <p align="justify">Güvenli bir sunucu kullanılmasını sağlıyoruz. Bu tür sistem ve prosedürler güvenlik ihlali riskini azaltsalar da, asla tam bir güvenlik sağlayamazlar ve Tezmaksan, hizmetlerinin suistimallerden, arızalardan, kanunsuz şekilde ele geçirmelerden veya burada depolanan bilgilere yetkisiz erişimden ve diğer bilgi güvenlik risklerinden tam olarak muaf olmasını veya sunucumuz üzerinden gerçekleştirilecek kişisel haberleşmelerinizin gizli kalacağını garanti edemez.</p>
                                    <p align="justify">Lütfen Tezmaksan olarak, Gizlilik Politikası gereği bilgilerinizi korumak için ticari anlamda makul tüm çabayı gösterdiğimizi göz önünde bulundurun; ancak internet, güvenlik açısından tüm kullanıcılar için hala belli riskler taşımaktadır. Bu sebepten, Tezmaksan güvenliğe yönelik herhangi bir tehditten dolayı sorumlu tutulamaz.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
