
@{
    ViewData["Title"] = "UretimTakibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-content-container realfactory-container">
    <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;">
        <div class="gdlr-core-pbf-background-wrap"></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <p>
                    <strong>Üretim Takibi</strong>
                </p>
                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" style="padding: 0px 20px 0px 0px;">
                        <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle" style="border-width: 4px;border-color: #5555 ;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;">
                                <img src="~/images/üretimtakibi.jpg" width="800" height="420" alt=" />
                            </div>
                        </div>

                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8" style="">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;">
                                            <p align="justify">
                                                “Kapasitematik” ile, firmaların makine parkurları uzaktan izlenerek; makinaların anlık çalışma verileri ve tarihsel istatistiksel verimlilik analizleri kullanıcı ve işletme sahiplerine sunulmaktadır. Uzaktan izlenen veriler ; örneğin makinanın işlediği parça adeti, hurda adedi, çalışma ve durma süreleri, durma sebepleri gibi kategoriler görülebilmekte ve ayrıca geçmişe yönelik trend analizleri yapılabilmektedir.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p align="justify">
                        Endüstri 4.0 ve IOT (nesnelerin interneti) konsepti dahilinde düşünülebilecek bu proje ile uzaktan erişim yaparak makinaların anahtar öneme sahip verileri bir merkezde toplanmakta ve bu veriler anlamlandırılarak sunulmaktadır.
                    </p>

                    <p align="justify">
                        Üretim teknolojilerinin tarihine baktığımızda, önceden bir ürünü imal edebilmek en önemli kriter iken günümüzde ise hemen her şeyin imalatını yapmanın daha kolay olduğunu ancak yeni yarışın imalatı verimli yapabilmek olduğunu görüyoruz. Dolayısıyla, CNC makinelerin imalat prosesinde üstlendiği görevi göz önüne getirdiğimizde, bu noktada da yarışın, o CNC makinanın ne kadar verimli, bir diğer deyişle tam kapasitesine ne kadar yakın çalıştırılabildiği verisinin analizi, işletme verimliliği açısından anahtar öneme sahip olmaktadır. Tezmaksan Makinanın burada üstlendiği vazife ise; işletmelerin her birinin bireysel olarak bu analiz ve raporlama sistemini kurması çok daha maliyetli olacak iken, bunu bir merkezden ve standardize edilmiş yapılar ile müşterilerinin ayağına götürmektedir.
                    </p>

                    <p align="justify">CNC makinalar için böyle bir projenin yapılması ise CNC makinaların karakteristiği itibariyle daha da önem kazanmaktadır. Şöyle ki; CNC makinalar, birbirinden çok farklı imalat kriterlerine sahip parça üretebilmektedir. Örneğin bazen hassasiyet kriteri sürenin önüne geçerken, bazen de hız daha önemli olabilir… Dolayısıyla bir işi yapmanın gerçekten de birden farklı yöntemi, hızı, ayarı olabilir ve çoğu zaman bu CNC operatörünün tercihleri ile şekillenir. Bundan ötürü CNC makinaların verimliliğinin izlenmesi ve raporlanması işletmeler açısından tam kapasite kullanımına yaklaşabilmek adına, tek bir işi yapmak üzere üretilmiş makinalarla kıyaslandığında daha da önemli olacaktır.</p>

                    <p align="justify">Makinelerin günlük çalışma sürelerinin yanı sıra özellikle duruş sürelerinin; arıza, hazırlık, yükleme/boşaltma, mola vb. alt kategorilerde raporlanması ise bu analizin daha hedefe yönelik veriler sunmasını mümkün kılar.</p>

                    <p align="justify"><strong>Özetle bu uzaktan izleme ve verimlilik raporlama sistemi olan Kapasitematik sayesinde CNC kullanıcıları ve işletmeler, mevcut makinalarını ölçebilir ve tarihsel trend analizlerini görebilir hale gelecek, ve bu bilgilerin ışığında da verimliliklerini arttırmak için ne gibi geliştirmeler yapabileceklerini göreceklerdir. Elbette bu geliştirmeleri yaptıktan sonra da çalışacak olan Kapasitematik, ne derece doğru iyileştirmelerin yapıldığı ve bu çabaların sonuçlarının neler olduğunu da raporlamaya devam edecektir.</strong></p>
                </div>
            </div>
        </div>
    </div>



