
@{
    ViewData["Title"] = "Verimlilik Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-content-container realfactory-container">
    <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;">
        <div class="gdlr-core-pbf-background-wrap"></div>
        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                <p>
                    <strong>Verimlilik Takibi</strong>
                </p>
                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" style="padding: 0px 20px 0px 0px;">
                        <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle" style="border-width: 4px;border-color: #5555 ;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;">
                                @*<img src="" width="800" height="420" alt="">*@
                                <img src="~/images/verimliliktakibi.jpg" width="800" height="420" alt=" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8" style="">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                    <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;">
                                        <p align="justify">
                                            Fabrikada bulunan üretim süreçlerinden toplanan veriler, filtrelenip işlendikten sonra, verimlilik (Overall Equipment Efficiency ve Equipment Efficiency) raporları oluşturulur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p align="justify">
                    OEE'ler makine, operatör, üretim bandı, vardiya bazında detaylı olarak raporlanabilir ve anlık olarak izlenebilir.
                </p>

                <p align="justify">
                    Geçmişe yönelik karşılaştırmalı verimlilik raporları ve değişim grafikleri hazırlanabilir.
                </p>

                <p align="justify">
                    Verimlilik raporları, hali hazırda kullanılan sistemler, sensörler, plc'ler ile entegre edilebilir, oluşan çıktılar ihtiyaca göre entegre sistemler ile uyumlu çalışacak şekilde düzenlenebilir.
                </p>
            </div>
        </div>
    </div>
</div>

