
@{
    ViewData["Title"] = "Çerez Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">


    @@media only screen and (max-width: 770px) {
        .table-bordered {
            font-size: 6px !important;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            font-size: 6px;
        }
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 1px !important;
    }

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        font-weight: 600;
    }

    .table > tbody > tr > th {
        font-weight: 600;
    }
</style>
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <br /><br />
                                    <p style="font-weight:bold;">ÇEREZ POLİTİKASI</p>
                                    <p align="justify">Tezmaksan, birçok web sitesinde olduğu gibi ziyaretçilerin web sitesini daha iyi deneyimlemelerini sağlamak amacıyla çerez kullanmaktadır.</p>
                                    <p align="justify">İşbu Çerez Politikası Tezmaksan’ın web sitesi (kapasitematik.com) ziyaretçilerine sitemizde kullanılan çerezin tanımı, çerez türleri, çerez tercihlerinin nasıl yönetilebileceği konularında bilgilendirmek amacıyla hazırlanmıştır.</p>
                                    <p align="justify">Web sitesinde yer alan çerez kullanım uyarısının kapatılması ya da web sitesi kullanımına devam edilmesi halinde çerezlere onay verildiği kabul edilir.</p>
                                    <p align="justify">Çerez kullanımını onaylamıyorsanız web sitesine devam etmemenizi ya da tarayıcınızdan çerez tercihlerinizi değiştirmenizi rica ederiz. Çerezlere izin verilmemesi halinde web sitesinin bazı özelliklerinin işlevselliğini yitirebileceğini hatırlatmak isteriz.</p>

                                    <p style="font-weight:bold;">Çerez Nedir?</p>
                                    <p align="justify">Çerez, bir web sitesini ziyaret ettiğinizde bilgisayarınızda ya da mobil cihazınızda depolanan küçük metin dosyalarıdır. Bu dosyalarda IP adresiniz, oturum bilgileriniz, eriştiğiniz sayfalar vb. veriler saklanır. Çerezler, ad ve soyadı ya da adres gibi verileri içermezler. Çerezler sayesinde web sitesi tercihleriniz hatırlanabilir, oturumunuzun açık tutulması sağlanabilir ya da size ilgilendiğiniz içerik sunulabilir.</p>
                                    <p align="justify">Çerezlere ilişkin detaylı bilgi için www.aboutcookies.org ve www.allaboutcookies.org adreslerini ziyaret edebilirsiniz.</p>
                                    <p style="font-weight:bold;">Çerez Türleri ve Kullanım Amaçları</p>
                                    <p align="justify"><strong>Oturum Çerezleri :</strong> Oturum çerezleri, geçici çerezler olup tarayıcıyı kapattıktan sonra cihazdan silinirler. Bu çerezlerin temel işlevi web sitesinin düzgün bir şekilde çalışmasını sağlamaktır.</p>
                                    <p align="justify"><strong>Kalıcı Çerezler :</strong> Kalıcı çerezler ise tarayıcıyı kapattıktan sonra da ziyaretçi tarafından silininceye ya da süresi doluncaya dek cihazda kalmaya devam ederler.</p>
                                    <p align="justify"><strong>Birinci Taraf :</strong> Birinci taraf çerezler ziyaret edilen web sitesi operatörü tarafından cihaza yerleştirilen çerezlerdir.</p>
                                    <p align="justify"><strong>Üçüncü Taraf Çerezler :</strong> Üçüncü taraf çerezler ise ziyaret edilen web sitesi operatörü dışındaki kişiler tarafından cihaza yerleştirilen ve kontrol edilen çerezlerdir. Web sayfamızda sizlere kurumumuz hakkında daha fazla bilgi sağlamak amacıyla, YouTube kullanılmıştır. YouTube, sayfalara YouTube'dan gömülmüş videolar izlemeniz durumunda bilgisayarınıza Çerezler yerleştirebilir. Üçüncü parti çerezler üzerinde kontrolümüz bulunmamaktadır. Lütfen, bu çerezlerle alakalı ve bunları nasıl yöneteceğinize dair daha fazla bilgi için ilgili üçüncü partinin web sayfasını ziyaret edin.</p>
                                    <p style="font-weight:bold;">Zorunlu Çerezler</p>
                                    <p align="justify">Belli çerezlerin kullanımı sitemizin doğru biçimde çalışması için zorunludur. Örneğin sitemizde oturum açtığınızda devreye giren kimlik doğrulama çerezleri, sitemizde bir sayfadan diğerine geçişinizde etkin olan oturumunuzun devam etmesini sağlamaktadır.</p>
                                    <p style="font-weight:bold;">İşlevsellik ve Tercih Çerezleri</p>
                                    <p align="justify">Bu çerezler sizlerin site üzerindeki tercihlerini ve seçimlerinizi hatırlayarak sitemizde sunulan hizmetlerin sizin için kişiselleşmesini sağlamaktadır. Örneğin sitemiz üzerindeki dil seçiminizi veya bir metin okurken seçmiş olduğunuz font boyutunu hatırlamamızı sağlar.</p>
                                    <p style="font-weight:bold;">Sosyal Medya Çerezleri</p>
                                    <p align="justify">Bu çerezler sizlerin sosyal medya kullanımlarınız hakkında bilgilerin toplanmasını sağlar. Örneğin Kişiselleştirilmiş reklamlar oluşturulması ya da market araştırmaları yapılması için Facebook/Twitter hesaplarınıza ait bilgilerin kullanılması için çerezler kullanılabilir.</p>
                                    <p style="font-weight:bold;">Performans ve Analiz Çerezleri</p>
                                    <p align="justify">Bu çerezler sayesinde sitemizi kullanımınızı ve sitemizin performansını analiz ederek sizlere verdiğimiz hizmetleri daha iyi hale getirebiliyoruz. Örneğin bu çerezler sayesinde ziyaretçilerimizin en çok hangi sayfaları görüntülediğini, sitemizin gerektiği gibi çalışıp çalışmadığını ve olası problemleri tespit edebiliyoruz.</p>
                                    <p style="font-weight:bold;">Hedefleme veya Reklam Çerezleri</p>
                                    <p align="justify">Sizlere sitemizde veya sitemiz haricindeki mecralarda ürün ve hizmet tanıtımını yapmak için çerezler kullanıyoruz. Ayrıca bazı iş ortaklarımızla sizlere sitemiz dahilinde veya dışında reklam ve tanıtım yapmak için iş birliğine gidebiliriz. Örneğin, sitemizde gördüğünüz bir reklama tıklayıp tıklamadığınızı, eğer reklam ilginizi çektikten sonra o reklam yönlendirdiği sitedeki hizmetten faydalanıp faydalanmadığınızı takip etmek için çerezler kullanılabilmektedir.</p>
                                    <p style="font-weight:bold;">Çerezler Ne Kadar Süre Saklanacak?</p>
                                    <p align="justify">Çerezleri, Çerezin yerleştirilme amacından daha uzun süre saklamayacağız. Kullandığımız çoğu Çerez "Oturum Çerezi”dir, yani bu çerezler, internet tarayıcınızı kapar kapamaz silineceklerdir. Bazı Çerezler daha uzun süreler için saklanabilir (örneğin kullanıcı oturum açma bilgilerinizi, tercih ettiğiniz dil seçeneklerini veya diğer seçenekleri hatırlamamızı istediğinizde bunları yapabilmemiz için yerleştirilenler). Google Analytics Çerezleri, web sayfasının kullanımına dair uzun süreli raporlar edinebilmek için iki yıla kadar saklanır.</p>
                                    <p style="font-weight:bold;">Çerezlerin Kullanımını Nasıl Kontrol Edebilirim?</p>
                                    <p align="justify">Tarayıcınızın ayarlarını kontrol ederek çerezlere ilişkin tercihlerinizi görünleyebilir ve kişiselleştirme yapabilirsiniz.</p>
                                    <p style="font-weight:bold;">Çerez Tercihlerinizi Nasıl Değiştirebilirsiniz ?</p>
                                    <p align="justify">Çerezleri kullandığınız tarayıcının ayarlarını değiştirerek kişiselleştirmeniz ya da tamamen engellemeniz mümkündür. Farklı tarayıcılar için izlenmesi gereken adımlara ilişkin detaylı bilgiye aşağıdaki linklerden ulaşabilirsiniz:</p>
                                    <p align="justify">
                                        <ul>
                                            <li><strong>Google Chrome : </strong><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=tr" target="_blank"> https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=tr</a></li>
                                            <li><strong>Internet Explorer : </strong><a href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank"> https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                                            <li><strong>Mozilla Firefox : </strong><a href="https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma" target="_blank"> https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma</a></li>
                                            <li><strong>Yandex : </strong><a href="https://yandex.com.tr/support/browser-classic/personal-data-protection/cookies.xml" target="_blank">https://yandex.com.tr/support/browser-classic/personal-data-protection/cookies.xml</a></li>
                                            <li><strong>Safari : </strong><a href="https://support.apple.com/tr-tr/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/tr-tr/guide/safari/sfri11471/mac</a></li>

                                        </ul>

                                    </p>
                                    <p align="justify">Diğer tarayıcılarda çerez tercihlerini yönetmek için ilgili tarayıcının yardım veya destek sayfasını inceleyebilirsiniz.</p>
                                    <p style="font-weight:bold;">İletişim</p>
                                    <p align="justify">Eğer bu bildirim ile ilgili sorularınız olursa <strong>kapasitematik@tezmaksan.com</strong> adresiyle iletişime geçebilirsiniz.</p>

                                    <p style="font-weight:bold;">ÇEREZLER</p>
                                    <p style="font-weight:bold;">Kapasitematik</p>
                                    <p align="justify">Web Sitemiz aracılığıyla sunulan hizmetlerin sağlanması, web sitemizin performans ve işlevselliğini geliştirmek amaçlı kullanılmaktadır.</p>
                                    <p style="font-weight:bold;">DoubleClick</p>
                                    <p align="justify">Web genelinde sunduğumuz reklamlar için de bir veya daha fazla çerez kullanırız. Google dışındaki sitelerde kullandığımız ana reklam çerezlerimizden birine "IDE" denir ve tarayıcılarda doubleclick.net alan adı altında depolanır. ANID,NID,1P_JAR adlı bir başka çerezler de google.com alan adı altında depolanır.</p>
                                    <p style="font-weight:bold;">Facebook</p>
                                    <p align="justify">Facebook çerezleri, facebook hesabınız varsa, site ve uygulamalar dahil olmak üzere Facebook ürünlerini kullanırsanız veya Facebook ürünlerini kullanan siteleri veya uygulamaları (Beğen düğmesi ve diğer Facebook Teknolojileri dahil) ziyaret ederseniz, kullanır. Çerezler, Facebook'un Facebook ürünlerini size sunmasını ve kayıtlı veya giriş yapmış olup olmamanızdan bağımsız olarak, diğer internet siteleri ve uygulamaları kullanımınız dahil olmak üzere sizin hakkında aldığı bilgileri anlamasını sağlar. Çerezleri; kimlik kontrolü, güvenlik ve site bütünlüğü, reklamlar, tavsiyeler, ölçüm, analiz ve raporlama için kullanır.</p>
                                    <p align="justify">İlginizi çekebilecek reklamları sosyal medya platformlarında da sunabilmek ve özel hedef kitle oluşturmak amacıyla kişisel verilerinizden e-posta adresiniz bu platformlar ile paylaşılmaktadır. E-posta adresiniz, bu platformların sunduğu güvenli kanallar ve ortamlar üzerinden aktarılmaktadır. Sosyal medya platformları, e-posta adresinizi hashleyerek, yalnızca eşleştirme işlemi için kullanmaktadır.</p>
                                    <p align="justify">E-Posta adresiniz üçüncü taraflarla veya diğer reklam verenlerle paylaşılmaz ve eşleştirme işlemi tamamlandıktan sonra mümkün olan en kısa sürede sosyal medya platformlarının sistemlerinden silinir.</p>
                                    <p align="justify">Örneğin; Facebook, (a) kişisel veriniz Facebook sistemlerinde bulunduğu sürece verilerin güvenliğini ve bütünlüğünü korumak ve (b) Facebook sistemlerinde bulunan kişisel verinize yanlışlıkla veya yetkisiz olarak erişilmesine ve verinizin yanlışlıkla veya yetkisiz olarak kullanılmasına, değiştirilmesine veya ifşa edilmesine karşı korumak için geliştirilen teknik ve fiziksel güvenlik önlemlerini de içerecek şekilde, özel hedef kitlenizi ("özel hedef kitleniz") oluşturan hash yöntemiyle şifrelenen e-posta adresinizin ve Facebook Kullanıcı Kimliği koleksiyonunun gizliliğini ve güvenliğini sağlayacaktır.</p>

                                    <p align="justify">Ayrıca, izniniz olmadan veya yasalar gerektirmediği sürece, Facebook üçüncü taraflara veya diğer reklam verenlere özel hedef kitleniz için erişim veya bilgi vermez, özel hedef kitle bilgilerinizi kullanıcılarımız hakkındaki bilgilere eklemez veya ilgi alanına dayalı profiller oluşturmaz ya da özel hedef kitlenizi size hizmet sunmanın haricinde kullanmaz.</p>
                                    <p align="justify">Facebook özel hedef kitleler koşulları için <a href="https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_" target="_blank">https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_</a> adresini, Facebook Gizlilik İlkeleri için <a href="https://www.facebook.com/privacy/explanation" target="_blank">https://www.facebook.com/privacy/explanation</a> adresini ziyaret edebilirsiniz.</p>
                                    <p style="font-weight:bold;">Google Analitik</p>
                                    <p align="justify">
                                        Bu tür çerezler tüm istatistiksel verilerin toplanmasını bu şekilde Sitenin sunumunun ve kullanımının geliştirilmesini sağlar. Google, bu istatistiklere toplumsal istatistikler ve ilgilere ilişkin veriler eklemek suretiyle, kullanıcıları daha iyi anlamamızı sağlar. Google gizlilik politikasına <a href="https://policies.google.com/privacy?hl=tr-TR" target="_blank"> https://policies.google.com/privacy?hl=tr-TR </a> adresinden ulaşabilirsiniz.
                                    </p>

                                    <p style="font-weight:bold;">Çerez Listeleri</p>
                                    <table class="table table-bordered" style="font-size: 13px;">
                                        <thead>
                                            <tr>
                                                <th>Çerez Adı</th>
                                                <th>Çerez Sağlayıcısı</th>
                                                <th>Amaç</th>
                                                <th>Kategori</th>
                                                <th>Süre</th>
                                                <th>Çerez Sahiplik</th>
                                                <th>Çerez Türü</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>ANID</th>
                                                <td>Google</td>
                                                <td>YouTube gibi diğer Google mülkleri de size daha alakalı reklamlar göstermek için bu çerezleri kullanabilir.</td>
                                                <td>Reklam</td>
                                                <td>2 Yıl</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>1P_JAR</th>
                                                <td>Google</td>
                                                <td>Bu çerez, son kullanıcının web sitesini nasıl kullandığı ve söz konusu web sitesini ziyaret etmeden önce son kullanıcının görmüş olduğu reklamlar hakkında bilgi verir.</td>
                                                <td>Reklam</td>
                                                <td>2 Ay</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>

                                            <tr>
                                                <th>HSID,<br>SID</th>
                                                <td>Google</td>
                                                <td>Bu çerez birlikte, Web sayfalarında doldurduğunuz form içeriklerini çalma teşebbüsleri gibi pek çok türden saldırıyı önlenmesine olanak tanır.</td>
                                                <td>Reklam</td>
                                                <td>2 Yıl</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>NID</th>
                                                <td>Google</td>
                                                <td>Bu kullanım, size Google'da özelleştirilmiş reklamlar gösterilmesine yardımcı olmaktadır.</td>
                                                <td>Reklam</td>
                                                <td>6 Ay</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>APISID,<br>SAPISID</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu DoubleClick çerezi, genellikle site aracılığıyla reklam ortakları tarafından ayarlanır ve onlar tarafından web sitesi ziyaretçisinin çıkarlarının bir profilini oluşturmak ve diğer sitelerde alakalı reklamlar göstermek için kullanılır. Bu çerez, tarayıcınızı ve cihazınızı benzersiz bir şekilde tanımlayarak çalışır.
                                                </td>
                                                <td>Reklam</td>
                                                <td>2 Yıl</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>

                                            <tr>
                                                <th>SIDCC</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu çerez, son kullanıcının web sitesini nasıl kullandığı ve söz konusu web sitesini ziyaret etmeden önce son kullanıcının görmüş olduğu reklamlar hakkında bilgi verir.
                                                </td>
                                                <td>Reklam</td>
                                                <td>1 Yıl</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>SSID</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu çerez, son kullanıcının web sitesini nasıl kullandığı ve söz konusu web sitesini ziyaret etmeden önce son kullanıcının görmüş olduğu reklamlar hakkında bilgi verir.
                                                </td>
                                                <td>Reklam</td>
                                                <td>2 Yıl</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>UULE</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu çerezler, sizinle ve ilgi alanlarınızla daha alakalı reklamlar sunmak için kullanılır. Ayrıca, bir reklamı görme sayısını sınırlamak ve reklam kampanyasının etkinliğini ölçmek için kullanılır.
                                                </td>
                                                <td>Analitik</td>
                                                <td>2 Gün</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>OTZ</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu çerez web sitesinin yaptığınız seçimleri (kullanıcı adınız, diliniz veya bulunduğunuz bölge gibi) hatırlamasını ve gelişmiş, daha fazla kişisel özellikler sağlamasını sağlar.
                                                </td>
                                                <td>Analitik</td>
                                                <td>3 Ay</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>_gid</th>
                                                <td>Google</td>
                                                <td>
                                                    Bu çerezler, ziyaretçilerin bir web sitesini nasıl kullandıkları, örneğin ziyaretçilerin en çok hangi sayfalara gittiği ve web sayfalarından hata mesajları alıp almadıkları hakkında bilgi toplar. Bu çerezler ziyaretçiyi tanımlayan bilgileri toplamaz. Bu çerezlerin topladığı tüm bilgiler toplanır ve bu nedenle adsızdır. Sadece bir web sitesinin çalışma şeklini geliştirmek için kullanılır.
                                                </td>
                                                <td>Analitik</td>
                                                <td>2 Gün</td>
                                                <td>3.Taraf</td>
                                                <td>İşlevsellik</td>
                                            </tr>
                                            <tr>
                                                <th>RequestVerificationToken</th>
                                                <td>Kapasitematik</td>
                                                <td>
                                                    Bu, ASP.NET MVC teknolojileri kullanılarak oluşturulan web uygulamaları tarafından ayarlanan bir sahtecilik önleme çerezidir. Siteler Arası İstek Sahteciliği olarak bilinen bir web sitesine izinsiz içerik gönderilmesini engellemek için tasarlanmıştır. Kullanıcı hakkında hiçbir bilgi içermez
                                                </td>
                                                <td>Sistem</td>
                                                <td>Oturum Süresince</td>
                                                <td>1.Taraf</td>
                                                <td>Gerekli</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



