@using KapasitematikBlog.Models
@model List<KapasitematikBlog.Domain.Kategori>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="/NiceAdmin/css/font-awesome.css" rel="stylesheet" />
@*<br />*@

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Kategori Listesi
            </header>
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td><a href="/Category/KategoriAdd/" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Kategori</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Kategori Adı</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.KategoriId</td>
                            <td>@item.KategoriAd</td>

                            <td>
                                <a href="/Category/KategoriGet/@item.KategoriId" class="btn btn-success">Güncelle</a>
                                @*<a class="btn btn-success" href="@Url.Action("Update", new {KategoriId=@item.KategoriId })">
                                    Güncelle
                                </a>*@
                            </td>
                            <td>
                                <a href="/Category/KategoriDelete/@item.KategoriId" class="btn btn-danger">Sil</a>
                                @*<a type="submit" class="btn-btn-danger" onclick="return confirm(" Bu makaleyi silmek istediğinize emin misiniz?")" href="@Url.Action("Delete", new {KategoriId=@item.KategoriId })">
                                    Sil
                                </a>*@
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            @*<a href="/Category/KategoriAdd" class="btn btn-primary">Yeni Kategori</a>*@
        </section>
    </div>
</div>