@model KapasitematikBlog.Domain.Kategori
@{
    ViewData["Title"] = "KategoriGet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategori Ekle</h2>
<br />
@using (Html.BeginForm("KategoriUpdate", "Category", FormMethod.Post))
{
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.KategoriAd, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Güncelle</button>
}


